<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>products</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="css/bootstrap.css"rel="stylesheet">

</head>
<body>

	<div>
	    <div class="col-12">
	         <h3 class="text-center">list of products</h3>
	         <hr>
	         <ul class="list-inline">
	          <li class="list-inline-item"><a href="/addProduct.html">add product</a></li>
	          <li class="list-inline-item"><a href="/listProducts.html">List of Products</a></li>
	         </ul>
	    </div>
	</div>

</body>
</html>